@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}
body{
    background:#0f171e;
    color:#fff;
    overflow-x:hidden;
}

img{
    width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:#fff;
}

ul{
    list-style:none;
}