@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}
body{
    background:#0f171e;
    color:#fff;
    overflow-x:hidden;
}

img{
    width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:#fff;
}

ul{
    list-style:none;
}
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#00A8E1;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#0cc2ff;
}
#loader{
    position:fixed;
    inset:0;
    background:#0f171e;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.spinner{
    width:70px;
    height:70px;
    border:6px solid rgba(255,255,255,.15);
    border-top:6px solid #00A8E1;
    border-radius:50%;
    animation:spin 1s linear infinite;
}